.item {
  transition: transform 0.2s ease-out;

  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  user-select: none;
  touch-action: none;
}

.item:hover {
  transform: scale(1.5);
}
