$z_index_pop_up: 200;

$z_index_header: 100;
$z-index_header_menu: 121;
$z-index_header_drop_down: 120;

$z_index_sidebar: 110;
$z_index_sidebar_white: 90;

$z-index_bottom_bar: 100;
$z-index_template_menu: 90;
$z-index_drop_down: 90;

$z-index_loader_global: 1000;
