.resizeHandlers {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.handler {
  --side: 5px;
  --shift: calc(-1 * var(--side) / 2);
  --center: calc(50% - var(--side) / 2);
  position: absolute;
  width: var(--side);
  height: var(--side);
  background-color: yellow;
}

/* Северные */

.northWest {
  cursor: nw-resize;
  top: var(--shift);
  left: var(--shift);
}

.north {
  cursor: n-resize;
  top: var(--shift);
  left: var(--center);
}

.northEast {
  cursor: ne-resize;
  top: var(--shift);
  right: var(--shift);
}

/* Средние */

.middleEast {
  cursor: e-resize;
  top: var(--center);
  right: var(--shift);
}

.middleWest {
  cursor: w-resize;
  top: var(--center);
  left: var(--shift);
}

/* Южные */

.southWest {
  cursor: sw-resize;
  bottom: var(--shift);
  left: var(--shift);
}

.south {
  cursor: s-resize;
  bottom: var(--shift);
  left: var(--center);
}

.southEast {
  cursor: se-resize;
  bottom: var(--shift);
  right: var(--shift);
}
